<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-website-26654b88-656f-45d5-ba30-4ae68bff2d36;AttachDbFilename=|DataDirectory|\aspnet-website-26654b88-656f-45d5-ba30-4ae68bff2d36.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name="ChinookDB"
    connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true;"
    providerName="System.Data.SqlClient"/>
</connectionStrings>